@page "/movies"

@using OnlineTickets.Client.Services.MovieServices
@inject IMovieService MovieService

<h3><b>Movies</b></h3>

<div class="row">
    @foreach (var movie in MovieService.Movies)
    {
        <div class="col-md-6 border-primary mb-2">
            <div class="card mb-2" style="width:400px; height:400px;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header text-white bg-info">
                            <p class="card-text">
                                <h5 class=" card-title">
                                    <a href="/movie/@movie.MovieId" class="text-white">@movie.MovieName</a>
                                </h5>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">                  
                        <a href="/movie/@movie.MovieId">
                            <img class="media-img" src="@movie.MovieImageUrl" alt="@movie.MovieName" style="width:200px;" />
                        </a>
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <p class="card-text"><b>Category: </b>@movie.MovieCategory</p>
                            <a href="/cinema/@movie.CinemaId">
                                <p><b>Cinema: </b>@movie.CinemaName</p>
                            </a>
                            <p class="card-text"><b>Start Date: </b>@movie.StartDate.ToShortDateString()</p>
                            <p class="card-text"><b>End Date: </b>@movie.EndDate.ToShortDateString()</p>
                            <p class="card-text"><b>Price: </b>$@movie.Price</p>
                            <p class="card-text"><b>Status: </b>@movie.Status</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>



@code {
    protected override async Task OnInitializedAsync()
    {
        await MovieService.GetMoviesList();
    }
}
